<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Client Info</h2>
    <form action="/client" method="post">
        <div>
            <label>Name</label>
            <input type="text" name="name">
        </div>        
        <div>
            <label>Surname</label>
            <input type="text" name="surname">
        </div>        
        <div>
            <label>Email</label>
            <input type="email" name="email">
        </div>        
        <div>
            <label>Service Type</label>
            <input type="text" name="serviceType">
        </div>
        <div>
            <label>Payment Date</label>
            <input type="date" name="paymentDate">
        </div>
        <button type="submit">Create</button>
    </form>
</body>
</html>